<!DOCTYPE html>
<head>
   <title>Syllabus Explorer</title>
   <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='syllabus.css')}}">
</head>
<body>  
	<div>
		<h1>Welcome, {{ user.name }}</h1>
		<h2>Today's Date: {{currentDate}}</h2>
	</div>
	
	<div>
		<ul>
			<li><a href="{{url_for('download_ics',syl_id=id)}}" class="button">Download ICS</a></li>
			<li><a href="https://www.google.com/calendar"> Google Calendar</a></li>
			<li><a href="{{url_for('index')}}" class="button">Go Back</a></li>
		</ul>
	</div>

	<div>
		<div class="eventBlock">
			<h2>TODAY'S EVENTS</h2>
			<div class="tableFixHead">
				<table>
					<thead>
						<tr>
							<th>Event</th>
							<th>Event Description</th>
						</tr>
					</thead>
					<tbody>
					{% for item in today %}
						<tr>
							<td>{{item.event_name}} [{{item.class_type}}] </td>
							<td>{{item.event_description}}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<div class="eventBlock">
			<h2>PAST EVENTS</h2>
			<div class="tableFixHead{{'1' if past|length>2}}">
				<table>
					<thead>
						<tr>
							<th>Date</th>
							<th>Event</th>
							<th>Event Description</th>
						</tr>
					</thead>
					<tbody>
					{% for item in past %}
						<tr>
							<td>{{item.event_date}}</td>
							<td>{{item.event_name}} [{{item.class_type}}] </td>
							<td>{{item.event_description}}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>

		<div class="eventBlock">
			<h2>FUTURE EVENTS</h2>
			<div class="tableFixHead{{'1' if future|length>2}}">
				<table>
				<thead>
					<tr>
					<th>Date</th>
					<th>Event</th>
					<th>Event Description</th>
					</tr>
				</thead>
				<tbody>
					{% for item in future %}
					<tr>
						<td>{{item.event_date}}</td>
						<td>{{item.event_name}} [{{item.class_type}}] </td>
						<td>{{item.event_description}}</td>
					</tr>
					{% endfor %}
					
				</tbody>
				</table>
			</div>
		</div>
		
		



		
		
	</div>
	


</body>
